<%- include("./partials/header") %>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Controle de finanças</title>
</head>
<body>
    <h1>Controle de finanças</h1>
    <p>Bem-vindo de volta, <%= locals.usuario.username %>!</p>
</body>
<%- include("./partials/footer") %>