<%- include('../partials/header') %>
<body>
    <h1 class="text-center text-2xl font-bold py-4 text-indigo-400">Transferir</h1>

    <div class="container w-80 mx-auto bg-[#f8f8f8] p-4 py-6 pb-0">
        <form action="/user/transfer" method="post">
            
            <input class="my-2 w-full px-2 border-b border-indigo-500 bg-transparent outline-0" type="text" required placeholder="Digite a chave da conta destino" name="chave" id="chave">
            <input class="my-2 w-full px-2 border-b border-indigo-500 bg-transparent outline-0 block" type="number" required placeholder="Digite o valor da transação" name="valor" id="valor" step="0.01">
            <textarea class="w-full box-border overflow-hidden p-2 focus:border-0 focus:outline-none resize-none text-sm" name="descricao" id="descricao" placeholder="Descrição" oninput="autoResize(this)"></textarea>
            <% if (msg) { %>
                <p class="" style="color: red"><%= msg %></p>
            <% }; %>
            <button class="my-2 bg-indigo-400 py-2 px-3 text-white rounded-xl hover:bg-indigo-500" type="submit">Transferir</button>
            <a class="my-2 bg-indigo-400 py-[10px] px-3 text-white rounded-xl hover:bg-indigo-500" href="/">Voltar</a>
        </form>
    </div>

    <script src="/scripts/scriptTransfer.js"></script>
</body>
<%- include('../partials/footer') %>