@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Montserrat", sans-serif;
    color: rgb(26, 26, 26);
}

::selection {
    background-color: #818cf8;
    color: white;
}